{% extends "base.html" %}
{% load static %}

{% block headers %}
<title>Autor</title>
{% endblock %}

{% block content %}
<div class="container detalle">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Pais</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ object.nombre }}</td>
            <td>{{ object.apellido }}</td>
            <td>{{ object.pais }}</td>
          </tr>
        </tbody>
      </table>    
</div>

{% endblock %}