{% extends "base.html" %}
{% load static %}


{% block headers %}
<link rel="stylesheet" href="{% static 'css/new_autor.css' %}">
<title>New Autor</title>
{% endblock %}

{% block content %}
<div class="container formulario">
    <form method="POST" enctype="multipart/form-data">
 
        <!-- Security token -->
        {% csrf_token %}
     
        <!-- Using the formset -->
        {{ form.as_p }}
         
        <input type="submit" value="Guardar" class="btn btn-success">
    </form>   
</div>

{% endblock %}